ENVIRONMENT=STAGE   [PROD]
BROWSER= CHROME   [FIREFOX,SAFARI,ANDROID,IOS]
TEST_SUITE= CUSTOM    [SMOKE,REGRESSION]
BROWSER_MODE= HEADLESS  []
TAGS= "@ActivityFour and @regression"  ["@ActivityFive and @smoke"]

